.add-order-container {
  max-width: 600px;
  margin: auto;
}

label {
  display: block;
  margin: 8px 0 4px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  margin-right: 8px;
}

h3 {
  margin-top: 24px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

input.ng-invalid.ng-touched, select.ng-invalid.ng-touched {
  border: 1px solid red;
}

select.ng-invalid.ng-touched {
  border: 1px solid red;
}
